@import '~styles/theme.scss';

#home {
	align-items: center;
	background-color: $primary;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;

	h1 {
		margin: 0;
	}
}
