@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');

body {
  background: #282c34;
  box-sizing: border-box;
  color: #ddd;
  font-family: 'Fira Mono', monospace;
  margin: 0;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header, article {
  display: block;
  text-align: center;
}

img {
  border-radius: .25rem;
  display: inline-block;
  margin: 0 auto;
}

small {
  display: inline-block;
  text-align: center;
  width: 100%;
}

#contact {
  border: 1px solid #ddd;
  border-radius: .25rem;
  display: inline-block;
  padding: .4rem;
  margin: 1rem auto;
  text-align: center;
  width: min-content;
  list-style-type: none;
}

#contact li {
  padding: .5rem 0 0 0;
}

#links {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
  color: #f2777a;
}

#links li a:hover {
  color: #ec8082;
  text-decoration: underline;
}

#links a {
  color: inherit;
  text-decoration: none;
}