@import url(https://fonts.googleapis.com/css?family=Bebas+Neue|Source+Sans+Pro:300,400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue|Source+Sans+Pro:300,400,700&display=swap);
body{color:#222;font-family:Source Sans Pro,sans-serif;margin:0;padding:0}
h1,h2,h3,h4,h5{font-family:Bebas Neue,cursive}
body{color:#222;font-family:Source Sans Pro,sans-serif;margin:0;padding:0}
h1,h2,h3,h4,h5{font-family:Bebas Neue,cursive}
.temp{height:100vh}
#heading,.temp{-webkit-box-align:center;align-items:center;display:-webkit-box;display:flex;-webkit-box-pack:center;justify-content:center}
#heading{background-color:#f0f7f7;box-sizing:border-box;-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:column;padding:1rem;width:100%}
#heading #avatar{border-radius:5rem}
#heading #link-list{display:-webkit-box;display:flex;list-style-type:none;margin:0;padding:0}
#heading #link-list .link-item{font-size:1.5rem;text-decoration:none}
#heading #link-list .link-item a{color:#aaa}
#heading #link-list .link-item a:hover{color:#222}
#heading #link-list .link-item:after{color:#aaa;content:" | ";margin-right:.5rem}
#heading #link-list .link-item:last-child:after{content:"";margin-right:0}
