@import '~styles/theme.scss';

#terminal {
	box-sizing: border-box;
	display: grid;
	height: 100%;
	width: 100%;

	&.split-a {
		grid-template-columns: 50% 50%;
	}

	&.split-b {
		grid-template-columns: 50% 50%;
		grid-template-rows: 50% 50%;
	}
}
