@import '~styles/theme.scss';

#job-entries {
	ol {
		@include reset-list;
		
		.job-entry {
			height: 64px;
			width: 100%;

			.company-logo {
				margin-right: .5rem;
			}

			main {
				align-items: center;
				display: flex;
				justify-content: space-between;
	
				&:hover {
					background: #e3e5eb
				}
	
				div {
					align-items: center;
					display: flex;
	
					* {
						display: block;
					}
	
					.company-name {
						margin: .2rem 0;
					}
	
					.job-position {
						font-size: .8rem;
					}
	
					.timelapse {
						font-size: .8rem;
						font-weight: 200;
					}
				}
			}

			.about-job {
				border: 1px solid $primary;
			}
		}
	}
}
