#article {
  #article-container {
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    color: #000000;
    padding: 2rem;
    margin: 0 auto;
    max-width: 920px;
    width: 80%;

    pre {
      background-color: #0d1117;
      border-radius: 2px;
      box-sizing: border-box;
      padding: 1rem;
    }
  }
}
