#layout {
  #header {
    align-items: center;
    box-sizing: border-box;
    background-color: $main-color;
    display: flex;
    font-family: $font-head;
    height: 64px;
    justify-content: space-between;
    flex-wrap: wrap;
  
    .wrapper {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 1200px;
      width: 90%;
  
      h1 {
        display: inline-block;
        margin: 0;
      }

      #mobile-nav-button {
        background-color: transparent;
        border: none;
        color: #FFFFFF;
        cursor: pointer;
        height: 2rem;
        width: 2rem;
      }

      .burger-nav-icon {
        color: #FFFFFF;
        height: 2rem;
        width: 2rem;
      }
  
      #desktop-nav {
        display: inline-block;

        font-family: $font-head;
    
        ul {
          align-items: center;
          display: flex;
          height: 100%;
          justify-content: center;
          margin: 0;
          padding: 0;
          list-style-type: none;
    
          li {
            margin-left: 1rem;
            margin-right: 1rem;
    
            a {
              color: $text-color;
              text-decoration: none;
  
              &:hover {
                color: #ffffffAA;
              }
            }
          }
        }

        @media (max-width: 500px) {
          display: none;
        }
      }

      #mobile-nav, #mobile-nav-button {
        display: none;

        @media (max-width: 500px) {
          display: flex;
        }
      }

      #mobile-nav {
        background-color: $main-color;
        flex-direction: column;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        z-index: 100;

        header {
          align-items: center;
          box-sizing: border-box;
          font-size: 1.5rem;
          display: flex;
          justify-content: space-between;
          padding: 1rem;
          width: 100%;
        }

        main {
          ul {
            align-items: center;
            display: flex;
            flex-direction: column;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
              box-sizing: border-box;
              padding: 1rem 0;

              a {
                color: #FFFFFF;
                font-family: $font-head;
                font-size: 1.15rem;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }

  #page-container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - 120px);
    width: 90%;

    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  #footer {
    box-sizing: border-box;
    color: $text-color;
    font-family: $font-head, sans-serif;
    height: 56px;
    padding: 1rem;
    text-align: center;
    width: 100%;
  }
}
