@import '~styles/theme.scss';

#app-header {
  border-bottom: 1px solid $primary;
  text-align: center;

  nav {
    ul {
      @include reset-list;

      box-sizing: border-box;
      padding: .4rem;

      li {
        margin: 0 .5rem;
      }
    }
  }
}
