@import '../../style.scss';

#header {
  align-items: center;
  background-color: #f0f7f7;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  height: 100vh;
  
  h1 {
    margin: 1rem 0 0 0;
  }

  #avatar {
    border-radius: 5rem;
  }

  #link-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    .link-item {
      font-size: 1.5rem;
      text-decoration: none;

      a {
        color: $link;

        &:hover {
          color: $primary;
        }
      }

      &::after {
        color: $link;
        content: " | ";
        margin-right: 0.5rem;
      }

      &:last-child {
        &::after {
          content: "";
          margin-right: 0;
        }
      }
    }
  }

  nav {
    padding: 1rem;

    ul {
      align-items: center;
      display: flex;
      justify-content: center;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        font-size: 1.1rem;
      }
    }
  }

  &.top {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    padding: 0 1.5rem;

    #avatar {
      height: 50px;
      width: 50px;
    }

    h1 {
      margin: 0 1rem;
    }

    .personal {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}
