#profile-sidebar {
	box-sizing: border-box;
	grid-column: 1 / 1;
	padding-top: 1rem;
	width: 300px;

	section {
		img {
			border-radius: .25rem;
		}

		article {
			h1 {
				box-sizing: border-box;
				font-size: 1.6rem;
				margin: 0;
				padding: .8rem 0;
			}
		}
	}

	ol {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			font-size: .9rem;
		}
	}
}
