---
title: "Using Docker for Data Science"
description: "Docker is widely used in the Software industry, as a Data Scientist you can also take advantage of Docker capabilities to isolate and deploy projects with ease!"
categories: [docker, python, data-science]
icon: docker
date: 2023-05-13
lang: "en"
preview_image_url: "https://images.unsplash.com/photo-1662916367255-7334143889c1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=40"
---
