@tailwind base;
@tailwind components;
@tailwind utilities;

/* spectral-regular - latin */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/spectral-v13-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/fonts/spectral-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* spectral-700 - latin */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('/fonts/spectral-v13-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/fonts/spectral-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jetbrains-mono-regular - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('/fonts/jetbrains-mono-v13-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/fonts/jetbrains-mono-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  @apply font-body;
}

code {
  @apply font-mono;
}

h1,
h2 {
  @apply font-body;

  font-weight: 800;
}

h3 {
  @apply font-body;

  font-weight: 600;
}

.safe-zone {
  max-width: 920px;
  width: 100%;
}

@media only screen and (max-width: 920px) {
  .safe-zone {
    width: 95%;
  }
}
