@import url('https://fonts.googleapis.com/css?family=Zilla+Slab|Open+Sans&display=swap');

body {
	background-color: #fafafa;
	color: #2a313f;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	font-family: 'Zilla Slab', cursive;
	font-weight: 300;
}
