@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h1 {
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  margin: .4rem 0;
}

h2 {
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  font-size: 1.9rem;
  margin: .4rem 0;
}

h3 {
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  margin: .4rem 0;
}
