@import url('https://fonts.googleapis.com/css2?family=Alata&family=Inconsolata&family=Be+Vietnam+Pro:wght@400;700&family=Calistoga&display=swap');

$main-color: #323232;
$text-color: #fefefe;
$link-color: #7bacac;
$header-height: 64px;
$font-body: 'Be Vietnam Pro';
$font-display: 'Calistoga';
$font-mono: 'Inconsolata';
$font-head: 'Alata';
$layout-header-height: 64px;

@mixin mobile {
  @media (max-width: 1024px) {
    @content;
  }
}

body {
  background-color: $main-color;
  color: $text-color;
  font-family: $font-body, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $font-display, sans-serif;
}

h2, h3 {
  font-family: $font-head, sans-serif;
}
