@tailwind base;
@tailwind components;
@tailwind utilities;

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/inter-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/inter-v18-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-code-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/fira-code-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body * {
  @apply font-mono;
}

code * {
  @apply font-mono;
}

h1 code,
h2 code,
h3 code {
  @apply font-mono font-normal;
}

h1,
h2,
h3 {
  @apply font-body font-semibold;
}

#note-content h1,
#note-content h2,
#note-content h3 {
    @apply font-semibold py-2;
}

#note-content h1 {
    @apply text-4xl;
}

#note-content h2 {
    @apply text-3xl;
}

#note-content h3 {
    @apply text-2xl;
}

#note-content p {
    @apply font-body;
}

#note-content .hljs {
    @apply p-4;
    @apply border rounded-md;
}

a[aria-current="page"] {
    @apply underline;
}

.lang-c {
    background-color: #555555;
    color: white;
}

.lang-rust {
    background-color: #DEA584;
    color: white;
}

.lang-typescript {
    background-color: #4476C0;
    color: white;
}

.lang-webassembly {
    background-color: #5B3BE8;
    color: white;
}
